<!-- Add Font Awesome link for icons -->
<script src="https://kit.fontawesome.com/4ec6a4a959.js" crossorigin="anonymous"></script>

<!-- Add Bootstrap JS and jQuery if needed -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    // Activate the carousel and set the interval to 3 seconds (3000 milliseconds)
    $(document).ready(function () {
        $('#imageCarousel').carousel({
            interval: 3000
        });
    });
</script>
</body>

</html>