<%- include('partials/adminheader.ejs') %>

    <div class="content">

        <div>


            <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">Add Product</button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Select The Category in that which type of product you want to add.
                    </div>
                    <div class="dropdown mt-3">
                        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Choose One
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/addmen">Mens</a></li>
                            <li><a class="dropdown-item" href="/addwomen">Women</a></li>
                            <li><a class="dropdown-item" href="/addkid">Kids</a></li>
                            <li><a class="dropdown-item" href="/addfootwear">Footwear</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Mens Product Section  -->

            <div class="container mt-5">
                <h1 class="text-center product_head mb-3">Mens Product</h1>
                <table class="table table-bordered table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="product1.jpg" alt="Product 1" width="80"></td>
                            <td>Product 1</td>
                            <td>Description for Product 1</td>
                            <td>Shirt</td>
                            <td>$19.99</td>
                            <td>4.5</td>
                            <td>
                                <a href=""><i class="fa-solid fa-pen-to-square" style="color: #40f000;"></i></a>
                                <a href=""><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="product2.jpg" alt="Product 2" width="80"></td>
                            <td>Product 2</td>
                            <td>Description for Product 2</td>
                            <td>T-shirt</td>
                            <td>$24.99</td>
                            <td>4.2</td>
                            <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- Women Product Section  -->

            <div class="container mt-5">
                <h1 class="text-center product_head mb-3">Women Product</h1>
                <table class="table table-bordered table-striped">
                    <thead class="table-danger">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="product1.jpg" alt="Product 1" width="80"></td>
                            <td>Product 1</td>
                            <td>Description for Product 1</td>
                            <td>Shirt</td>
                            <td>$19.99</td>
                            <td>4.5</td>
                            <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="product2.jpg" alt="Product 2" width="80"></td>
                            <td>Product 2</td>
                            <td>Description for Product 2</td>
                            <td>T-shirt</td>
                            <td>$24.99</td>
                            <td>4.2</td>
                            <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Kids Product Section  -->

            <div class="container mt-5">
                <h1 class="text-center product_head mb-3">Kids Product</h1>
                <table class="table table-bordered table-striped">
                    <thead class="table-success">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="product1.jpg" alt="Product 1" width="80"></td>
                            <td>Product 1</td>
                            <td>Description for Product 1</td>
                            <td>Shirt</td>
                            <td>$19.99</td>
                            <td>4.5</td>
                            <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="product2.jpg" alt="Product 2" width="80"></td>
                            <td>Product 2</td>
                            <td>Description for Product 2</td>
                            <td>T-shirt</td>
                            <td>$24.99</td>
                            <td>4.2</td>
                            <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!-- Footwear Product Section  -->

            <div class="container mt-5">
                <h1 class="text-center product_head mb-3">Footwear Product</h1>
                <table class="table table-bordered table-striped">
                    <thead class="table-warning">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="product1.jpg" alt="Product 1" width="80"></td>
                            <td>Product 1</td>
                            <td>Description for Product 1</td>
                            <td>Shirt</td>
                            <td>$19.99</td>
                            <td>4.5</td>
                            <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="product2.jpg" alt="Product 2" width="80"></td>
                            <td>Product 2</td>
                            <td>Description for Product 2</td>
                            <td>T-shirt</td>
                            <td>$24.99</td>
                            <td>4.2</td>
                            <td>
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>








        </div>




    </div>


    <%- include('partials/adminfooter.ejs') %>