<%- include('partials/adminheader.ejs') %>



    <div class="content">

        <div class="row">
            <div class="col-lg-4 text-center d-flex flex-column align-items-center justify-content-center">
                <div class="card shadow-lg" style="width: 18rem;">
                    <a href="/product"><img src="img/products.png" class="card-img-top p-5" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text"><strong>Products</strong></p>
                        <p class="card-text">
                            0 Products
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex flex-column align-items-center justify-content-center">
                <div class="card shadow-lg" style="width: 18rem;">
                    <a href=""><img src="img/order-fulfillment.png" class="card-img-top p-5" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text"><strong>Order</strong></p>
                        <p class="card-text">
                            0 Products
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex flex-column align-items-center justify-content-center">
                <div class="card shadow-lg" style="width: 18rem;">
                    <a href=""><img src="img/delivery.png" class="card-img-top p-5" alt="..."></a>
                    <div class="card-body">
                        <p class="card-text"><strong>Delivered</strong></p>
                        <p class="card-text">
                            0 Products
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Products</h2>
                    </div>
                    <div class="col-lg-6 d-flex align-items-end justify-content-end"><button type="button"
                            class="btn btn-dark">Show All</button></div>
                </div>
                <table class="table table-primary mt-2">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>
                            jdsg
                        </td>
                        <td>
                            jdsg
                        </td>
                        <td>
                            jdsg
                        </td>
                        <td>
                            jdsg
                        </td>
                        <td>
                            jdsg
                        </td>
                    </tbody>
                </table>

            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Recent Order</h2>
                    </div>
                    <div class="col-lg-6 d-flex align-items-end justify-content-end"><button type="button"
                            class="btn btn-dark">Show All</button></div>
                </div>
                <table class="table table-success mt-2">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>
                            jdsg
                        </td>
                        <td>
                            jdsg
                        </td>
                        <td>
                            jdsg
                        </td>
                        <td>
                            jdsg
                        </td>
                        <td>
                            jdsg
                        </td>
                    </tbody>
                </table>
            </div>
        </div>

        <%- include('partials/adminfooter.ejs') %>