.circle-image {
    border: 4px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s;
    cursor: pointer;
}

.feature-image:hover {
    border: 4px solid linear-gradient(to right, #ff6a00, #ee0979);
}

.trending-product-section {}