@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

.circle-image {
    border: 4px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s;
    cursor: pointer;
}

.feature-image:hover {
    border: 4px solid linear-gradient(to right, #ff6a00, #ee0979);
}



.trending_card_img {
    width: 70% !important;

}

.product_head {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    text-align: center;
}